    {% extends 'base.html' %}

    {% block title %}{{post.title}}{% endblock %}
     
    {% block content %}
    <article>
        <header>
            <h1> {{post.title}} </h1>
            {{ post.description }}
            <p>Posted by {{post.author}} on {{ post.date|date }}</p>
			<br>
        </header>
		<hr>
        {{post.content|safe}}
    </article>
	<br>
	<hr><br/>

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% for comment in comment_list %}
    <p>{{ comment.author }}: {{comment.content}}</p>
{% endfor %}
{% endblock %}